<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag 'strive_talent' %>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>
        Welcome to the Strive Talent assessment. This assessment will allow you to prove your potential to multiple employers at once. Good luck, and we'll be in touch!
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="well">
          <h3>Enter Your Information:</h3>
          <p>Please verify or enter your personal information below:</p>
            <%= simple_form_for @user, url: sign_in_path do |f| -%>
              <%= f.input :first_name, input_html: { class: 'form-control' } %>
              <%= f.input :last_name, input_html: { class: 'form-control' } %>
              <%= f.input :email, input_html: { class: 'form-control' } %>
              <%= f.submit 'Submit',  class: 'btn btn-primary' %>
            <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
