<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @question.description %>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <i>Answer Form</i>
    </div>
  </div>
</div>
