<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueBasicSetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%# flash.each do |key, value| %>
        <!-- <div class="<%#= flash_class(key) %>"> -->
          <%#= value %>
        <!-- </div> -->
      <%# end %>

      <%= yield %>
    </div>
  </body>
</html>
